@{
    ViewBag.Title = "Home Page";
}

@* Top Title Jumbotron Section *@ 
<div class="jumbotron jumboCustom">
    <div class="shadowBox">
        <h1>Generic Tech Review Site</h1>
        <p>Check out user reviews of the latest gadgets or add your own review!</p>      
    </div>
</div>

@* Lower Article Section *@
<div class="jumbotron bgArticle">
    
    @* Article 1 Section *@
    <div class="locThumb">
        <div class="container-fluid">
            <div class="row">
                <div class="articleForm picLeft">
                    <div class="col-md-4">
                        <a href="#"> <img class="img-responsive" src="~/Images/techpic4.jpg" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <h2>Main Article 1</h2>
                        <h3>Subtitle</h3>
                        <p>
                            Experiential venture capital personas actionable insight unicorn
                            waterfall is so 2000 and late unicorn venture capital paradigm responsive latte paradigm.
                            Cortado pivot pitch deck prototype hacker driven...<a href="http://asp.net">Contiune Reading</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Article 2 Section *@
    <div class="locThumb">
        <div class="container-fluid">
            <div class="row">
                <div class="articleForm picLeft">
                    <div class="col-md-4">
                        <a href="#"> <img class="img-responsive" src="~/Images/techpic6.jpg" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <h2>Main Article 2</h2>
                        <h3>Another Subtitle</h3>
                        <p>
                            Disrupt pivot convergence convergence thinker-maker-doer ship it agile minimum viable
                            product food-truck moleskine earned media parallax disrupt viral. Ideate driven engaging
                            actionable insight fund innovate actionable...<a href="http://asp.net">Contiune Reading</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Article 3 Section *@
    <div class="locThumb">
        <div class="container-fluid">
            <div class="row">
                <div class="articleForm picLeft">
                    <div class="col-md-4">
                        <a href="#"> <img class="img-responsive" src="~/Images/techpic1.jpg" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <h2>Main Article 3</h2>
                        <h3>Subtitles fah Dayz</h3>
                        <p>
                            Fund minimum viable product parallax prototype entrepreneur venture capital SpaceTeam
                            ship it prototype integrate. Experiential venture capital personas actionable insight unicorn
                            waterfall is so 2000 and late unicorn...<a href="http://asp.net">Contiune Reading</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Article 4 Section *@
    <div class="locThumb">
        <div class="container-fluid">
            <div class="row">
                <div class="articleForm picLeft">
                    <div class="col-md-4">
                        <a href="#"> <img class="img-responsive" src="~/Images/techpic2.jpg" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <h2>Main Article 4</h2>
                        <h3>Subtitle Bruh</h3>
                        <p>
                            Steve Jobs moleskine personas pivot driven minimum viable product
                            engaging user centered design integrate user centered design. Minimum viable product latte
                            cortado grok 360 campaign 360 campaign hacker quantitative...<a href="http://asp.net">Contiune Reading</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Article 5 Section *@
    <div class="locThumb">
        <div class="container-fluid">
            <div class="row">
                <div class="articleForm picLeft">
                    <div class="col-md-4">
                        <a href="#"> <img class="img-responsive" src="~/Images/techpic5.jpg" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <h2>Main Article 5</h2>
                        <h3>Subtitle Subtitle Subtitle</h3>
                        <p>
                            Thinker-maker-doer intuitive entrepreneur ideate parallax viral user story 
                            hacker 360 campaign ship it entrepreneur iterate affordances. Paradigm quantitative 
                            vs. qualitative ...<a href="http://asp.net">Contiune Reading</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

